{# templates/default/index.html.twig #}
{% extends 'base.html.twig' %}
{% block title %}Create your paste!{% endblock %}
{% block body %}

    {{ form_start(form, {'action': path('create_paste'), 'method': 'POST'}) }}

    <div class="mb-3">
        <label for="paste-form-content" class="form-label">{{ field_label(form.content) }}</label>
        <textarea
                id="paste-form-content"
                class="form-control {{ form.content.vars.errors|length ? 'is-invalid' : '' }}"
                rows="3"
                name="{{ field_name(form.content) }}"
                placeholder="{{ field_label(form.content) }}"
        >{{ field_value(form.content) }}</textarea>
        <div class="invalid-feedback">
            {{ form_errors(form.content) }}
        </div>
    </div>

    <div class="mb-3">
        <label for="paste-form-title" class="form-label">{{ field_label(form.title) }}</label>
        <input
                id="paste-form-title"
                type="text"
                class="form-control {{ form.title.vars.errors|length ? 'is-invalid' : '' }}"
                name="{{ field_name(form.title) }}"
                placeholder="{{ field_label(form.title) }}"
                value="{{ field_value(form.title) }}"
        >
        <div class="invalid-feedback">
            {{ form_errors(form.title) }}
        </div>
    </div>

    <div class="mb-3">
        <label for="paste-form-expiration" class="form-label">{{ field_label(form.expiration) }}</label>
        <select id="paste-form-expiration" name="{{ field_name(form.expiration) }}" class="form-select">
            {% for label, value in field_choices(form.expiration) %}
                <option value="{{ value }}">{{ label }}</option>
            {% endfor %}
        </select>
    </div>

    <div class="mb-3">
        <label for="paste-form-exposure" class="form-label">{{ field_label(form.exposure) }}</label>
        <select id="paste-form-exposure" name="{{ field_name(form.exposure) }}" class="form-select">
            {% for label, value in field_choices(form.exposure) %}
                <option value="{{ value }}">{{ label }}</option>
            {% endfor %}
        </select>
    </div>


    <div class="mb-3">
        {{ form_widget(form.cooking, {'attr': {'class': 'btn btn-primary'} }) }}
    </div>

    {{ form_rest(form) }}
    {{ form_end(form) }}

    <div class="list-group mb-3">
        {% for paste in pastes.items %}
            <a href="{{ path('show_paste', {'hash': paste.hash}) }}" class="list-group-item list-group-item-action" aria-current="true">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">{{ paste.title }}</h5>
                </div>
                <p class="mb-1 text-truncate">{{ paste.content }}</p>
            </a>
        {% endfor %}
    </div>

    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            {% for pageNumber in 0..pastes.pager.getMaxPage %}
            <li class="page-item">
                <a
                    class="page-link"
                    href="{{ path('create_paste', {'page': pageNumber, 'limit': pastes.pager.limit}) }}"
                >{{ pageNumber }}</a>
            </li>
            {% endfor %}
        </ul>
    </nav>

{% endblock %}